.message {
    
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }  
  .message {
    display: flex;
    flex-direction: column;
  }
  
  .message-content {
    display: inline-block;
    max-width: 70%; /* Adjust this value according to your desired maximum width */
    word-wrap: break-word;
    white-space: pre-wrap; /* Ensures line breaks and spaces are preserved */
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  .my-message .message-content {
    align-self: flex-end;
    background-color: #d1e7ff;
  }
  
  .other-message .message-content {
    align-self: flex-start;
    background-color: #f1f1f1;
  }